
.got-play{

	position:relative;	
	width:100%;
	

}
.got-play img{
	width:100%;
	height:auto;
	
}
.got-play .btn{
	position: absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
  
	text-align:center;
	
}

.pause{
	position: absolute;
	top:50%;
	left:80%;
	transform:translate(-50%,-50%);
  
	text-align:center;
	
}